[{lager,
  [{handlers,
    [{lager_console_backend,
      [info, {lager_default_formatter, [date, " ", time, " [", severity, "] ", pid,
                                        " ", message, "\n"]}]},

     {lager_file_backend, [{file, "log/server.log"}, {level, info},
                           {formatter_config,
                            [date, " ", time, " [", severity, "] ", pid,
                             " ", message, "\n"]}]}]}]},
     {config, [{config_file, "/opt/setconcile/etc/config.txt"}]}
].
